<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Login suite">
<test name="Login test case">
<classes>

<class name="testCases.LoginTestCase2"/>
<class name="testCases.RealPOMCustomer"/>
<class name="testCases.Delete_Project"/>



</classes>

</test>

</suite>